node_modules
public/storage
public/hot
public/dist/
public/fonts/
public/frontend/
public/backend/
public/js
public/css
public/images/
public/mix-manifest.json
storage/*.key
storage/debugbar/
storage/files/
vendor
.idea
.env
/data
.gitignore
