@import "node_modules/noty/src/noty";
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

.header-landing {
    padding: 20px 0;
    margin-bottom: 0;
}

.btn {
    &:disabled {
        &:hover {
            background-color: #9a9fbf;
            border-color: #9a9fbf;
        }
    }
    &.btn-google {
        background-color: #db4437;
    }
}
