@import "node_modules/noty/src/noty";

/* fallback */

@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: local('Material Icons'), local('MaterialIcons-Regular'), url(https://fonts.gstatic.com/s/materialicons/v22/2fcrYFNaTjcS6g4U3t-Y5ZjZjT5FdEJ140U2DJYC3mY.woff2) format('woff2');
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
}

.header-landing {
    padding: 20px 0;
    margin-bottom: 0;
}

.btn {
    &:disabled {
        &:hover {
            background-color: #9a9fbf;
            border-color: #9a9fbf;
        }
    }
    &.btn-google {
        background-color: #db4437;
    }
    &.btn-wsm {
        height: 52px;
        img {
            width: 22px;
            margin-left: -14px;
            margin-right: 12px;
        }
        background-color: #f55c2b;
    }
}

.profile-section {
    .router-link-exact-active {
        &.router-link-active {
            color: #515365;
        }
    }
}

.loader {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 3;
    background: url(/images/loading.gif) 50% 50% no-repeat rgba(235, 242, 242, 0.66);
    opacity: .6;
    background-size: 120px 120px;
}

.quill-editor {
    margin-bottom: 25px;
    border: 1px solid #e6ecf5;
    border-radius: 0.25rem;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}

.ql-fullscreen {
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    color: #444;
    &:before {
        content: "\f0b2";
    }
}

.ql-container .ql-editor {
    min-height: 20em;
    padding-bottom: 1em;
    max-height: 30em;
}

// Custom quill for chat
.chat-quill-editor {
    &.ql-container {
        .ql-editor {
            min-height: 60px;
            max-height: 100px;
            overflow-x: hidden;
            overflow-y: auto;
            padding-bottom: 0;
            padding-top: 20px;
            &.ql-blank {
                &::before {
                    color: #dddfe2;
                }
            }
        }
    }
}

.multiselect__tags {
    border: 1px solid #e6ecf5;
}

.quill-editor.fullscreen {
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 22;
    background-color: #fff;
    border-top: none;
    .ql-toolbar {
        border-top: none;
    }
    .ql-editor {
        height: auto;
        height: 100vh;
        max-height: inherit;
    }
}

.has-danger .multiselect__tags {
    border-color: #f92552;
}

.multiselect__input {
    &::-webkit-input-placeholder {
        color: #888da8 !important;
    }
    &:-moz-placeholder {
        /* Firefox 18- */
        color: #888da8 !important;
    }
    &::-moz-placeholder {
        /* Firefox 19+ */
        color: #888da8 !important;
    }
    &:-ms-input-placeholder {
        color: #888da8 !important;
    }
}

.chat-users {
    .author-thumb {
        &:hover {
            cursor: pointer;
        }
    }
}

.post {
    p {
        margin: 0;
        &:last-child {
            margin-bottom: 10px;
        }
    }
}

.fade-enter-active,
.fade-leave-active {
    transition-property: opacity;
    transition-duration: .25s;
}

.fade-enter-active {
    transition-delay: .25s;
}

.fade-enter,
.fade-leave-active {
    opacity: 0
}

.post-additional-info.inline-items {
    margin-top: 10px;
}

div,
a {
    word-break: break-word;
}

.confirm-delete {
    .btn {
        margin-right: 15px;
        margin-bottom: 0px;
    }
}

.has-danger {
    .input-group-addon {
        background-color: transparent;
    }
}

.ps__scrollbar-y-rail {
    height: 0 !important;
}

.chat-message-item {
    p {
        margin-bottom: 0;
    }
}

.olymp-little-delete {
    width: 25px;
    height: 11px;
}

#notification_messages {
    .notification-list {
        .chat-message-item {
            p {
                display: inline;
            }
        }
    }
}

.box-btn-share {
    &:before {
        content: "";
        position: absolute;
        left: 50%;
        bottom: 100%;
        z-index: 2;
        margin-left: -10px;
        border-width: 5px;
        border-style: solid;
        border-color: transparent transparent #fff transparent;
    }
    position: relative;
    z-index: 1;
    .position {
        position: absolute;
        display: flex;
        width: 189px;
        justify-content: space-between;
        left: -154px;
        color: #1b1b1b;
        font-weight: 500;
        background-color: #fff;
        padding: 10px 3px 5px 7px;
        box-shadow: 0 3px 0 rgba(0,0,0,0.1), 0 0 3px rgba(0,0,0,0.2);
        border-radius: 6px;
        .text-share {
            line-height: 36px;
        }
        .flex-social {
            display: flex;
            .btn-social {
                display: inline-block;
                margin-right: 5px;
                &.btn-control {
                    &.has-i {
                        font-size: unset;
                        i {
                            font-size: 15px;
                        }
                    }
                    &.bg-facebook {
                        background-color: #2f5b9d;
                    }
                    &.bg-twitter {
                        background-color: #38bff1;
                    }
                    &.bg-google {
                        background-color: #E24F48;
                    }
                }
                &:hover {
                    cursor: pointer;
                }
            }
        }
    }
}
