/*------------- #W-BADGES --------------*/


.w-badges {
  margin-bottom: 0;
  display: inline-block;

  li {
	margin: 0 15px 20px 0;
	float: left;
	width: 38px;
	height: 38px;
	border-radius: 100%;
	position: relative;
  }
}