/*------------- #W-FAVED-PAGE --------------*/


.w-faved-page {
  margin-bottom: 0;
  overflow: hidden;

  li {
	margin: 0 8px 8px 0;
	float: left;
	width: 34px;
	height: 34px;
	border-radius: 100%;
	overflow: hidden;

  }

}

.all-users {
  line-height: 34px;
  text-align: center;
  color: $white-color;
  background-color: $primary-color;
  font-size: 10px;
  font-weight: 800;

  a {
	color: inherit;
	display: block;
  }

}