/*------------- #YOUR-PROFILE--------------*/



.items-round-little {
  color: $white-color;
  font-weight: 700;
  font-size: 10px;
  text-align: center;
  width: 19px;
  height: 19px;
  line-height: 19px;
  border-radius: 100%;
  margin-left: 12px;

  &:hover {
	color: $white-color;
  }
}

.your-profile-menu {
  padding: 12px 25px;
  border-bottom: 1px solid $border-color;
  margin-bottom: 0;

  li {
	a {
	  font-size: 11px;
	  padding: 12px 0;
	  color: $body-font-color;
	  display: block;
	  font-weight: 700;

	  &:hover {
		color: $heading-color;
	  }
	}
  }
}